<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Api</title>
</head>
<body>
  <!-- NAVIGATION -->
  <% if (!user) { %>
  <a href="/api/login">Ingresar</a>
  <a href="/api/register">Registrarse</a>
  <% } else { %>
  <a href="/api/logout">Salir</a>
  <a href="/api/currentUser">Perfil</a>
  <% } %>

  <%if (signinMessage) {%>
    <p><%= signinMessage %></p>
  <% } %>
  <%if (signupMessage) {%>
    <p><%= signupMessage %></p>
  <% } %>

  <%- body %>
</body>
</html>