
{{!-- <button onclick="crearCarrito()" class="btn btn-primary">Iniciar compra</button> --}}
<div>
    <h4>Articulos</h4>
    <div>
      <div id="idProductos"></div>
    </div>
</div>
<script src="../js/art.js"></script>

  
  




