<div id="bienvenido"></div>
<div id="avatar"></div>
<div id="email"></div>
<div id="telefono"></div>
<div id="username"></div>
<div>
    <div>
      <div id="idCarrito"></div>
    </div>
</div>
<div>
    <h4>Carrito</h4>
    <div>
      <div id="idPedido"></div>
    </div>
    <button onclick="comprar()" class="btn btn-primary">Comprar</button>
</div>
<script src="../js/currentUser.js"></script>
<script src="../js/pedido.js"></script>