<div class="main-container">
  <div class="form-container">
    <h2 class="title">Por favor Ingrese</h2>
    <form action="/api/login" method="POST">
      <label for="email">Email:</label>
      <div class="form-floating form-input">
        <input type="email" id="email" name="email" required />
      </div>
      <label for="password">Contraseña:</label>
      <div class="form-floating form-input">
        <input type="password" id="password" name="password" required />
      </div>
      <div class="form-floating form-input">
        <input type="submit" value="Ingresar" class="submit-button" />
      </div>
    </form>
  </div>
</div>