<div id="bienvenido"></div>
<div id="avatar"></div>
<div id="email"></div>
<div id="telefono"></div>
<div id="username"></div>
<div>
    <div>
      <div id="idCarrito"></div>
    </div>
</div>
<button onclick="crearCarrito()" class="btn btn-primary">Iniciar compra</button>

<div>
    <h4>Articulos</h4>
    <div>
      <div id="idProductos"></div>
    </div>
</div>
<script src="../js/currentUser.js"></script>
<script src="../js/carrito.js"></script>
<script src="../js/art.js"></script>
 