<div id="bienvenido"></div>
<div id="avatar"></div>
<div id="email"></div>
<div id="telefono"></div>
<div id="username"></div>
<div>
    <h1>Carrito</h1>
    <div>
      <div id="idCarrito"></div>
    </div>
</div>
<script src="../js/currentUser.js"></script>
 