
    <div class="main-container">
        <div class="form-container">
            <h2 class="title">Por favor registrese</h2>
            <p>Ya esta registrado? Ingrese <a href="/api/login">Ingresar</a></p>
            <form action="/api/register" method="post" enctype="multipart/form-data" id="registerForm" name="registerForm" class="form" >
                <label for="nombre">Nombre</label>
                <div class="form-floating form-input">
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <label for="apellido">Apellido</label>
                <div class="form-floating form-input">
                    <input type="text" id="apellido" name="apellido" required>
                </div>
                <label for="edad">Edad</label>
                <div class="form-floating form-input">
                    <input type="number" id="edad" name="edad">
                </div>
                <label for="direccion">Direccion</label>
                <div class="form-floating form-input">
                    <input type="text" id="direccion" name="direccion">
                </div>
                <label for="telefono">Telefono</label>
                <div class="form-floating form-input">
                    <input type="text" id="telefono" name="telefono">
                </div>
                <label for="username">Usuario</label>
                <div class="form-floating form-input">
                    <input type="text" id="username" name="username" required>
                </div>
                <label for="role">Rol</label>
                <div class="form-floating form-input">
                    <input type="text" id="role" name="role" required>
                </div>
                <label for="email">Email</label>
                <div class="form-floating form-input">
                    <input type="email" id="email" name="email" required>
                </div>
                <label for="password">Contraseña</label>
                <div class="form-floating form-input">
                    <input type="password" id="password" name="password" required>
                </div>
                <label for="image">Avatar</label>
                <div class="form-floating form-input">
                    <input class="form-control" type="file" accept="image/*" name="image" id="image" required>
                </div>
                <div style="display:flex">
                    <div>
                        <img id="preview">
                    </div>
                </form>
                    <div style="width:100%; margin-left: 100px; padding-top:100px">
                        <input type="submit" value="Guardar" class="submit-button">
                    </div>
                    <div style="width:100%; margin-left: -100px ; padding-top:90px" class="form-floating form-input">
                        <p class="image-text">Subir imagen</p>
                    </div>
                </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
    