{{#if productos}}
{{#each productos}}
<div>
    <p>
        {{this.title}}
        <br>
        {{this.description}}
        <br>
        {{this.stock}}
        <br>
    </p>
    <img width="100" height="100" src="{{this.thumbnail}}">
</div>

{{/each}}
{{/if}}